.editor-insert-chart-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin: 30px;
    
    position: relative;
    top: 120px;
    padding-bottom: 30px;

    align-content: center;
}

.insert-chart-button {
    padding: 20px;
    font-size: 18px;
    background-color: #ffffff;
    border: none;
    width: 150px;
    height: 150px;

    position: relative;
    left:50%;
    box-shadow: 0px 0px 10px #a3a3a3;
}

.insert-chart-button:hover {
    background-color: #e2e2e2; 
    cursor: pointer;
}

.insert-chart-button:active {
    background-color: #e7e7e7;
}

.insert-chart-button p {
    line-height: 1.2;
}