.editor-icon-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px;
    margin: 30px;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.insert-fa-icon-button {
    width: 75px;
    height: 75px;

    border: none;
    background-color: #ececec;
    box-shadow: 0px 0px 5px #a3a3a3;
}

.insert-fa-icon-button:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.insert-fa-icon-button:active {
    background-color: #e7e7e7;
}

.insert-fa-icon {
    font-size: 32px;
}