#image-placeholder {
    position: relative;
    top: 200px;
}

#upper-image-upload-container {
    position: relative;
    height: 50px;
    top: 50px;
}

#upload-image-input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #B6472A;
    background-color: white;
    padding: 10px;
    border: 2px solid #B6472A;
}

img {
    width: 150px;
    height: 150px;
}

#image-library {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
}

.image-entry {
    flex: 0 0 auto;
    width: 170px;
    padding: 10px;
}

#remove-image {
    float: right;
}