.editor-toolbar {
    grid-column: 1 / span 3;
    width: 100%;
    position: fixed;
}

.toolbar-divider {
    margin: 0px;
    border: 1px solid #CCCBCC;
}

.toolbar-options {
    background-color: #B6472A;
    height: 40px;
}


.toolbar-content {
    background-color: #F4F3F3;
    height: 95px;
}

.toolbar-home-button {
    position: relative;
    top: 7px;
    left: 10px;
    background-color: #B6472A;
    border: none;
}

.toolbar-home-button:hover {
    background-color: #9b3c24; 
}

.toolbar-home-icon {
    color: white;
    font-size: 22px;
}

.toolbar-text {
    color: white;
    position: relative;
    top: 7px;
    margin: 0px 0px 0px 5px;

    font-size: 18px;

    border: none;
    background-color: #B6472A;
}

.vertical-divider {
    border-left: 2px solid white;
    height: 25px;
    margin-left: 10px;
    position: relative;
    top: 7.5px;
    left: 15px;
}

.toolbar-insert, .toolbar-home-button, .vertical-divider {
    float: left;
}

.selected {
    border-bottom: 1px solid white;
}

/**
    ToolbarContent styles
*/

.insert-container {
    position: absolute;
    left: 30px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 100px;
    grid-column-gap: 20px;
    align-content: center;
    padding-top: 10px;
}

.insert-button {
    width: 60px;
    height: 70px;
    border: none;
    background-color: #F4F3F3;
}

.insert-icon {
    font-size: 24px;
}

.insert-text {
    font-size: 14px;
}

#insert-bkg-button {
    width: 100px;
    height: 80px
}

.edit-container {
    position: absolute;
    left: 30px;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-column-gap: 20px;
    align-content: center;
    padding-top: 10px;
}

#edit-background-button {
    width: 100px;
}