.editor-toolbar {
    width: 100%;
}

.toolbar-divider {
    margin: 0px;
    border: 1px solid #CCCBCC;
}

.toolbar-options {
    background-color: #B6472A;
    height: 40px;
}

.toolbar-options-right {
    position: relative;
    top: -22.5px;
    right: 80px;
    float: right;
    margin-right: 0px;
}

#toolbar-download {
    display: grid;
    grid-template-columns: 20px 20px;
    grid-column-gap: 10px;
    align-content: center;
}

#toolbar-download:hover {
    color: black;
    cursor: pointer;
}

.toolbar-download-icon {
    font-size: 16px;
    position: relative;
    left: 6px;
    top: 2px;
}

.toolbar-download-text {
    float: right;
    margin: 0px;
    padding: 0px;
}

.toolbar-content {
    background-color: #F4F3F3;
    height: 95px;
}

.toolbar-home-button {
    position: relative;
    top: 7px;
    left: 10px;
    background-color: #B6472A;
    border: none;
}

.toolbar-home-button:hover {
    background-color: #9b3c24; 
}

.toolbar-home-icon {
    color: white;
    font-size: 22px;
}

.toolbar-text {
    color: white;
    position: relative;
    top: 7px;
    margin: 0px 0px 0px 5px;

    font-size: 18px;

    border: none;
    background-color: #B6472A;
}

.vertical-divider {
    border-left: 2px solid white;
    height: 25px;
    margin-left: 10px;
    position: relative;
    top: 7.5px;
    left: 15px;
}

.toolbar-insert, .toolbar-home-button, .vertical-divider {
    float: left;
}

.selected {
    border-bottom: 1px solid white;
}

/**
    ToolbarContent styles
*/

.insert-container {
    position: absolute;
    left: 30px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 100px;
    grid-column-gap: 20px;
    align-content: center;
    padding-top: 10px;
}

.insert-button {
    width: 60px;
    height: 70px;
    border: none;
    background-color: #F4F3F3;
}

.insert-button:hover {
    background-color: #e4e4e4;
    cursor: pointer;
}

.insert-button:active {
    background-color: #e7e7e7;
}

.insert-icon {
    font-size: 24px;
    position: relative;
    top: 5px;
}

.insert-text {
    font-size: 14px;
}

#insert-bkg-button {
    width: 100px;
    height: 75px;
    position: relative;
    top: 1px;
    padding: 5px;
}

.edit-container {
    position: absolute;
    left: 30px;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-column-gap: 20px;
    align-content: center;
    padding-top: 10px;
}

#edit-color-button {
    height: 80px;
}

#edit-background-button {
    width: 100px;
}

/*
    Chart related styles in ToolbarContent
*/

.chart-container {
    position: absolute;
    width: 100%;
    left: 30px;
    padding-top: 10px;
}

.canvas-settings {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 60px;
    grid-column-gap: 10px;
    align-content: center;
    float: left;
}

#bring-forward-button, #send-back-button {
    width: 80px;
    height: 80px;
}

#bring-forward-text, #send-back-text, #move-front-text, #move-bottom-text {
    margin: 5px;
}

#move-front-button, #move-bottom-button {
    height: 80px;
    width: 85px;
}

#move-front-text, #move-bottom-text {
    line-height: 1;
}

#remove-button {
    margin-top: 3px;
}

/*
    Editor related styles in ToolbarContent
*/

.editor-settings {
    display: grid;
    grid-template-columns: 60px 60px;
    grid-column-gap: 20px;
    float: right;
    margin-right: 80px;
}

.selected-editor {
    border: 1px solid #B6472A;
    border-radius: 10px;
    background-color: #C8755F;
}

#editor-button {
    height: 75px;
}

#replace-chart-button {
    height: 75px;
    padding: 5px;
}

#editor-button-text, #replace-chart-text {
    margin-top: 5px;
}

#replace-header-button, #replace-image-button, #replace-icon-button {
    position: relative;
    top: 5px;
}

#replace-image-text, #replace-icon-text {
    margin-top: 5px;
}
