.editor-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 550px;
    grid-template-rows: 137px auto;
    grid-row-gap: 0px;
    overflow: hidden;
} 

.upper-container {
    grid-column: 1 / span 2;
    height: 100%;
}

.lower-container {
    height: 100%;
    overflow: auto;
    background-color: #ececec;
}

.editor {
    background-color: white;

    position: relative;
    min-height: 100%;
}

.editor-menu {
    position: relative;
    top: -0px;
    left: 2px;
    padding: 20px;
}

.editor-vertical-divider {
    position: absolute;
    border-left: 2px solid #CCCBCC;
    height: 100%;
}

.editor-close-button {
    position: relative;
    top: 45%;
    left: -46px;
    height: 54px;
}

.editor-placeholder-text {
    line-height: 1.5;
    text-align: center;
    width: 300px;
    position: relative;
    top: 40%;
    left: 22%;
    font-size: 22px;
    color: #B6472A;
}
