/*
    Sources:
    1. Color related CSS taken from https://stackoverflow.com/questions/42068335/quill-js-color-textbox
*/

.ql-editor {
    font-family: 'museo', serif;
    font-size: 10px;
    font-weight: 900;
}

.ql-toolbar {
    height: 60px;
}

.ql-formats {
    position: relative;
    top: 10px;
}

.ql-picker-options 
{
    overflow: scroll;
    height: 110px;
}

#ql-picker-options-0, #ql-picker-options-1 {
    height: 200px;
}

#ql-picker-options-2 {
    height: 155px;
}

#ql-picker-options-4 {
    height: 135px;
}

.ql-color .ql-picker-options [data-value=custom-color] {
    background: none !important;
    width: 100% !important;
    height: 20px !important;
    text-align: center;
}
.ql-color .ql-picker-options [data-value=custom-color]:before {
    content: 'Custom Color';
}
.ql-color .ql-picker-options [data-value=custom-color]:hover {
    border-color: transparent !important;
}