.chart-editor {
    padding-left: 20px;

    position: relative;

    border-top: 2px solid #CCCBCC;
    height: 100%;
}

.tab-container {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    position: relative;
    top: -67px;
    left: -10px;
    z-index: 1;
}

.editor-settings-content {
    display: grid;
    grid-template-columns: auto;
}

.editor-content {
    position: relative;
    top: -220px;
    left: -21px;
    height: 100%;
    width: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
}

.editor-menu-container {
    position: relative;
    top: 180px;
    left: 11px;
}