.chart-editor {
    padding-left: 20px;

    position: relative;

    border-top: 2px solid #CCCBCC;
}

.tab-container {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;

    position: relative;
    top: -67px;
    left: -10px;
}

.editor-settings-content {
    display: grid;
    grid-template-columns: auto;
}

.editor-content {
    position: relative;
    top: -40px;
    left: -10px;

    overflow-y: auto;
    height: 520px;
}