.icon-library-container {
    position: fixed; 
    display: grid;
    grid-template-columns: auto;
    z-index: 3;
}

.icon-library {
    display: grid;
    grid-template-columns: auto auto auto;
}

.icon-library-button {
    border: none;
}

.icon-library-close {
    float: right;
}