.labeled-color-picker-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
    align-items: center;

    margin: 20px 0px 20px 0px; 
}

.labeled-color-picker {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: max-content;
}