.pie-chart-input-container {

    margin: 30px 0px 30px 0px;
}

.pie-chart-textfield-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    width: max-content;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
}

.pie-slider {
    grid-column: 1 / span 3;
    position: relative;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
}

.pie-button {
    width: 100px;
}