.stacked-bar-grid-four {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    position: relative;
    top: 20px;
}

.stacked-bar-grid-auto {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

.extra-margin {
    margin: 10px 0px 10px 0px;
}

.add-row-container {
    position: relative;
    left: 35%;
    margin: 30px;
}

.add-row-container button {
    border: 1px solid #b6472a;
    color: #b6472a;
    background-color: white;
    cursor: pointer;
}

.add-row-container button:hover {
    background-color: rgb(224, 224, 224);
}

.add-row-container button:active {
    background-color: rgb(215, 215, 215);
}

#remove-column-icon {
    position: relative;
    width: max-content;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

@-moz-document url-prefix() {
    #remove-column-icon {
        width: auto;
    }
    
    .stacked-bar-grid-auto textarea {
        width: 93px;
        height: 25px;
    }
}
/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        #remove-column-icon {
            width: auto;
        }
    }
}

/* Safari 10.1 */
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
        #remove-column-icon {
            width: auto;
        }
    }
}

/* Safari 6.1-10.0 (but not 10.1) */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0){ 
    #remove-column-icon {
        width: auto;
    }
}