.help-element {
    background-color: rgb(73, 73, 73);
    width: 90%;
    margin-left: 17px;

    margin-top: 15px;
}

.help-element h1 {
    font-size: 20px;
    padding: 5px;
}

.help-element h2 {
    color: white;
    padding: 0px 15px 10px 15px;
}

.help-element p {
    color: white;
    padding: 0px 15px 15px 15px;
}

.help-element span {
    color: white;
    padding: 0px 15px 0px 015px;
}

.help-element ol {
    color: white;
    padding-bottom: 15px;
    padding-right: 15px;
}

.help-element li {
    padding-top: 10px;
}

.help-element-header {
    display: grid;
    grid-template-columns: auto 40px;
}

.help-element-exit {
    background-color: rgb(73, 73, 73);
    border: none;
}

.help-element-exit:hover {
    background-color: rgb(56, 56, 56);
}

.help-element-exit-icon {
    color: white;
}

.help-element-children-container {
    overflow-wrap: anywhere;
}

.helper-card:hover {
    background-color: rgb(56, 56, 56); 
    cursor: pointer;
}